html {
	background-color: #f7f7ff;
	background-image: url("https://diraison.github.io/GenPyExo/images/math.png");
}

h1 {
	text-align: center;
}

h2 {
	font-size: 18pt;
	margin-bottom: 12px;
	margin-top: 15px;
}

article {
	margin-top: 30px;
}

div.enonce {
	font-family: Times, serif, "Times New Roman";
	font-size: 16pt;
	margin-bottom: 5px;
	padding-left: 40px;
}

div.travail {
	float: left;
	width: 55%;
}

div.CodeMirror {
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	font-family: "DejaVu Sans Mono", "Consolas", "Lucida Console", "Droid Sans Mono", monospace;
	font-size: 16pt;
	resize: vertical;
}

button {
	margin-top: 0px;
}

div.reponses {
	float: left;
	font-size: 12pt;
	margin-left: 1%;
	padding-left: 1%;
	width: 41%;
}

ul {
	margin-bottom: 10px;
	margin-top: 10px;
}

#sortie {
	height: auto;
	font-weight: bold;
	margin-top: 0;
}

#sortie:empty {
	margin-bottom: 0;
}

#erreur {
	background-color: #fcc;
	color: #880000;
	font-size: 10pt;
	font-weight: bold;
	height: 20px;
	margin: 10px 0 10px 0;
	padding: 10px 0 10px 10px;
}

span.solution {
	color: #0000cc;
}

span.solution > img {
	display: none;
}

span.solution:hover > img {
	background-color: rgba(255,255,238,1.0);
	border: 1px solid #0000cc;
	display: block;
	margin-left: 32px;
	margin-top: 8px;
	position: absolute;
	z-index: 4;
}

span.solution > span {
	display: none;
}

span.solution:hover > span {
	background-color: rgba(255,255,238,1.0);
	border: 1px solid #0000cc;
	display: block;
	margin-left: 32px;
	margin-top: 8px;
	position: absolute;
	z-index: 4;
}

svg text {
	font-family: Arial, sans, Helvetica;
	font-size: 85%;
	font-weight: bold;
}

svg text .graph_title {
	font-size: 140%;
}

textcode {
	display: inline;
	color: #008800;
	font-family: monospace, "Andale mono", "Courier New";
	font-size: 90%;
	font-weight: bold;
	margin: 1em 0;
	white-space: pre;
}

div.highcharts-container {
	margin-bottom: 10px;
}

@media screen and (max-device-aspect-ratio: 1/1) {

div.travail {
	float: none;
	min-width: 100%;
	width: 100%;
}

div.reponses {
	float: none;
	margin-top: 1em;
	width: 97%;
}

}
