<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/diraison/" target="_blank">@diraison</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="https://github.com/diraison/GenPyExo" target="_blank">GenPyExo</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:jean.diraison@ac-rennes.fr" target="_blank">jean.diraison@ac-rennes.fr</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://www.skulpt.org/" target="_blank">Skulpt</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="https://diraison.github.io/GenPyExo/page-blanche.html" target="_blank">Page Blanche</a></p>

